@model IEnumerable<ASP_MVC_Basic.Models.Student>;
@{
    ViewData["Title"] = "คะแนนสอบ";
}

<h1 class="text-center" style="font-weight:bold;">คะแนนสอบ</h1>
<br />

<p>id : </p>
<p>name : </p>
<p>score : </p>